---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Spotify Clone.">
	<div id="playlist-content"
  class="relative transition-all duration-100 bg-green-600"
  ></div>
</Layout>


